body {
    display: flex;
    flex-direction: column;
    
    justify-content: space-around; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full viewport height to center vertically */
    margin: 0; /* Remove default margin */
}


#container {
    display: flex;
    flex-wrap: wrap;
}

.squareDivBox {
    border: 1px solid black;
    background: #4CAF50;
    box-sizing: border-box;
}